[Desktop Entry]
Type=Application
Name=Mathworks Service Host
Exec=/home/aakapatel/.MathWorks/ServiceHost/aakapatel/v2024.1.0.3/bin/glnxa64/MathWorksServiceHost service --realm-id companion@prod@production
Terminal=false
